
.div1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.div1 button{
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: larger;
}